In [1]:
#Ramya Tangirala
#rt4an

In [2]:
# import needed libraries

import os
import numpy
import pandas as pd
from sqlalchemy import create_engine

Operation 1: Fetch / download / retrieve a remote data file by URL, or ingest a local file mounted.

In [3]:
# Loading College Majors: all-ages.csv dataset from local file - dataset obtained from https://www.kaggle.com/tunguz/college-majors

try:
    directory = os.path.join(os.getcwd(), 'Project 1 Data') # made a variable for the directory that the data is in
    data = os.path.join(directory, 'all-ages.csv') # made a variable for the data in the directory
    df = pd.read_csv(data, header=0, index_col=0) # used pandas to read the csv file and make a data frame
except AttributeError: #catches an attribute error
    print("There is an attribute error. Check if the attributes are in the module.")
except FileNotFoundError: #catches a file not found error
    print("The file is not found. Check the name of the file.")

df.head() #outputs the first couple rows of data

,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
Major_code,,,,,,,,,,
1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

Operation 2: Modify the number of columns from the source to the destination, reducing or adding columns.

In [4]:
try:
    df.drop(['P25th', 'P75th'], axis=1, inplace=True) #dropped two columns
except KeyError: #catches a key error
    print("The columns are not found in the given axis.")
    
df.columns #listed the columns in the dataframe

Index(['Major', 'Major_category', 'Total', 'Employed',
       'Employed_full_time_year_round', 'Unemployed', 'Unemployment_rate',
       'Median'],
      dtype='object')

Operation 3: Generate a brief summary of the data file ingestion including number of records and number of columns

In [5]:
try:
    print("Number of columns:" , len(df.columns)) #printed number of columns
except NameError: #catches a name error
    print("1 or more names are not defined")
except AttributeError: #catches an attribute error
    print("There is an attribute error. Check if the attributes are in the module.")
    
try:
    print("Number of records:", len(df.values)) #printed number of records
except NameError: #catches a name error
    print("1 or more names are not defined")
except AttributeError: #catches an attribute error
    print("There is an attribute error. Check if the attributes are in the module.")

Number of columns: 8
Number of records: 173